@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --bodyBg: #fffffe;
    --sectionBg: #faf9f6;
    --white: #fff;
    --primaryBlack: #151515;
    --secondaryBlack: #707070;
    --primaryBlue: #07004d;
    --secondaryBlue: #256eff;
    --primaryButtonBg: #3ddc97;
    --poppins: 'Poppins', sans-serif;
}

body {
    background: var(--bodyBg);
    overflow-x: hidden;
    position: relative;
}

a {
    text-decoration: none;
}

button {
    cursor: pointer;
    border: none;
}

.hero-section-container {
    padding: 80px 0 40px 0;
    display: flex;
    justify-content: center;
    align-items: center;

    @media screen and (min-width: 1024px) {
        padding: 120px 0 80px 0;
    }
}

.hero-section-box {
    display: flex;
    flex-direction: column;
    align-items: center;

    @media screen and (min-width: 1024px) {
        flex-direction: row;
        gap: 40px;
        justify-content: space-between;
        margin: 0 50px;
    }

    @media screen and (min-width: 1440px) {
        min-width: 1280px;
        margin: 0;
    }
}

.hero-section-contents {

}

.hero-title {
    text-transform: uppercase;
    font-family: var(--poppins);
    color: var(--primaryBlue);
    font-size: 36px;
    font-weight: 700;
    line-height: 40px;
    text-align: center;

    @media screen and (min-width: 1024px) {
        text-align: left;
        font-size: 48px;
        line-height: 48px;
    }

    @media screen and (min-width: 1440px) {
        text-align: left;
        font-size: 60px;
        line-height: 60px;
    }
}

.hero-title span {
    color: var(--secondaryBlue);
}

.hero-subtext {
    color: var(--primaryBlack);
    font-family: var(--poppins);
    font-weight: 400;
    font-size: 14px;
    margin: 24px 16px 0 16px;
    text-align: center;

    @media screen and (min-width: 768px) {
        max-width: 500px;
        margin: 24px 0 0 0;
    }

    @media screen and (min-width: 1024px) {
        text-align: left;
        width: max-content;
    }

    @media screen and (min-width: 1440px) {
        font-size: 18px;
        max-width: 600px;
    }
}

.hero-cta-button {
    background: var(--primaryButtonBg);
    color: var(--white);
    font-family: var(--poppins);
    font-size: 13px;
    font-weight: 500;
    border-radius: 32px;
    padding: 8px 0;
    width: 140px;
    box-shadow: 0 8px 10px 0 rgba(0, 0, 0, 0.15);
    text-transform: capitalize;
    margin: 24px auto 0 auto;
    transition: all 0.2s ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;

    @media screen and (min-width: 1024px) {
        margin: 48px 0 0 0;
        font-size: 14px;
        width: 160px;
    }

    @media screen and (min-width: 1440px) {
        font-size: 16px;
        width: 180px;
        padding: 12px 0;
    }
}

.hero-cta-button span {
    display: inline-block;
    margin-left: 8px;
}

.hero-cta-button:hover {
    transform: scale(1.05);
}

.hero-image-wrapper {
    margin: 48px auto 0 auto;
    width: 90%;

    @media screen and (min-width: 525px) {
        width: 65%;
    }

    @media screen and (min-width: 1024px) {
        margin: 0;
        width: max-content;
    }
}

.hero-image {
    /* Aspect Ratio: 1.62 */
    width: 100%;
    height: auto;

    @media screen and (min-width: 1024px) {
        width: 400px;
        height: 247px;
    }

    @media screen and (min-width: 1440px) {
        width: 600px;
        height: 369px;
    }

}

/* Events Section */

.home-events-section-container {
    padding: 40px 16px;
    background: var(--sectionBg);
    display: flex;
    flex-direction: column;
    align-items: center;

    @media screen and (min-width: 1024px) {
        padding: 80px 0;
    }
}

.section-header {
    font-size: 24px;
    font-family: var(--poppins);
    color: var(--primaryBlue);
    font-weight: 600;

    @media screen and (min-width: 1024px) {
        font-size: 28px;
    }

    @media screen and (min-width: 1440px) {
        font-size: 36px;
    }
}

.section-header span {
    color: var(--secondaryBlue);
}

.home-events-cards-container {
    margin-top: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 18px;

    @media screen and (min-width: 1024px) {
        gap: 36px;
        margin-top: 48px;
    }
}

.section-cta-btn {
    background: var(--primaryButtonBg);
    font-size: 13px;
    font-weight: 500;
    margin-top: 24px;
    border-radius: 20px;
    color: var(--white);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
    padding: 10px 20px;
    transition: all 0.2s ease-in-out;

    @media screen and (min-width: 1024px) {
        font-size: 15px;
        margin-top: 48px;
        padding: 12px 28px;
    }

    @media screen and (min-width: 1440px) {
        font-size: 15px;
    }
}

.section-cta-btn:hover {
    transform: scale(1.05);
}

/* Offer Section */

.home-offer-section-container {
    padding: 40px 16px;
    display: flex;
    flex-direction: column;
    align-items: center;

    @media screen and (min-width: 1024px) {
        padding: 80px 0;
    }
}

.home-offer-cards-container {
    margin-top: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 18px;

    @media screen and (min-width: 1024px) {
        margin-top: 48px;
        flex-direction: row;
        max-width: 864px;
        gap: 18px;
    }

    @media screen and (min-width: 1440px) {
        max-width: 1100px;
    }
}

.home-offer-card {
    max-width: 282px;
    background: var(--bodyBg);
    border-radius: 20px;
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.15);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 16px;

    @media screen and (min-width: 768px) {
        min-width: 380px;
    }

    @media screen and (min-width: 1024px) {
        min-width: auto;
    }
}

.home-offer-card-image {
    /* aspect-ratio: 1.32 */
    display: block;
    width: 80px;
    height: auto;

    @media screen and (min-width: 1440px) {
        width: 120px;
    }
}

.home-offer-card-contents {
    margin-top: 24px;

    @media screen and (min-width: 1024px) {
        margin-top: 48px;
    }
}

.home-offer-card-title {
    font-size: 18px;
    font-family: var(--poppins);
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: var(--black);
    text-align: center;

    @media screen and (min-width: 1440px) {
        font-size: 20px;
    }
}

.home-offer-card-description {
    margin-top: 10px;
    font-size: 13px;
    font-family: var(--poppins);
    font-weight: 400;
    color: var(--secondaryBlack);
    text-align: center;

    @media screen and (min-width: 1024px) {
        margin-top: 16px;
    }

    @media screen and (min-width: 1440px) {
        font-size: 16px;
    }
}

/* .hero-section-container {
    padding-top: 140px;
    padding-bottom: 80px;
    display: flex;
    justify-content: space-between;
}

.hero-section-left {
    margin-left: 80px;
}

.hero-title{
    text-transform: uppercase;
    font-family: var(--poppins);
    color: var(--primaryBlue);
    font-size: 60px;
    font-weight: 700;
    line-height: 60px;
}

.hero-title span {
    color: var(--secondaryBlue);
}

.hero-subtext {
    color: var(--black);
    font-family: var(--poppins);
    font-weight: 500;
    font-size: 15px;
    margin-top: 24px;
    max-width: 534px;
}

.hero-cta-button {
    background: var(--primaryButtonBg);
    color: var(--white);
    font-family: var(--poppins);
    font-size: 15px;
    font-weight: 500;
    border-radius: 32px;
    padding: 12px 0;
    width: 180px;
    box-shadow: 0 8px 10px 0 rgba(0, 0, 0, 0.15);
    text-transform: capitalize;
    margin-top: 48px;
    transition: all 0.2s ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-cta-button span {
    display: inline-block;
    margin-left: 8px;
}

.hero-cta-button:hover {
    transform: scale(1.05);
}

.hero-image-wrapper {
    margin-right: 80px;
} */