*
{
	margin: 0 
}
.wrap
{
	background-color: rgb(23, 129, 129);
	width: 98%;
	margin:10px auto;
	display: flex;
    flex-direction: column;
	padding: 10px 0;
	border-radius: 10px 10px 0px 0;
}
.header
{
   display: flex;
   flex-direction: column;
   justify-content: space-around;
}

.logo
{
	margin-left: 10px;
	color: white;
	font-size: 3rem;
}
.gray
{
	color: rgb(232, 215, 215);
}
.slogan
{
	font-size: 1rem;
	margin-left: 30px;
    color: white;
}

.menu 
{
	width: 98%;
	margin: auto;
	background-color: grey;
}
.menu ul
{
	width: 96%;
	margin: auto;
	display: flex;
	flex-direction: row;
    justify-content: space-between;
	list-style: none;
	/* padding:10px 0; */
	height: 30px;
	align-items: center;
}
.menu a{
	text-decoration: none;
	color: white;
	font-weight: 600;
	font-family: sans-serif;
	font-size: .8rem;
}
.menu ul li
{
	display: flex;
	height: 100%;
	align-items: center;
}
li:hover
{
	background-color: rgb(23, 129, 129);
	height: 100%;
}