<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title>About Us</title>
	<link href="../static//about_us/css/style.css" rel="stylesheet">

</head>

<body>
	{% include 'header.html' %}

	<section class="about-us-container">
		<div class="header">About <span>Us</span></div>

		<div class="about-us-contents">
			<p class="about-us-para para-1">
				Welcome to <strong>India Youth <span>Care</span></strong>, a platform devoted to empowering and elevating India's young minds. We are
				firm believers in the value of free advice and offer our young people support that is based on research
				and science so they can succeed in all facets of life. Our emphasis on small group interactions ensures
				personalized attention and promotes deep bonds among our consumers. Whether you need help with your
				studies, career advice, or just need someone to talk to, our community is here to help. We want to help
				you clear your doubts and provide a supportive environment where you may develop and thrive. Join us on
				this enlightening voyage, and let's travel life's roads together. Together, we can overcome challenges
				and open the door to a more promising and bright future.
			</p>

			<p class="about-us-sub-header">
				What defines us, and what drives our purpose?
			</p>

			<p class="about-us-para para-2">
				We are a group of NIT alumni hailing from different NITs across India. As a group of NIT graduates, our mission is to empower Indian youth via knowledge of character and personality development, physical and mental fitness, and career counseling. Our goal is to offer the support and tools necessary for success in every area of life. Whether your goals are to improve your well-being, develop a strong character, or discover your real calling in life, our devoted team is prepared to travel with you on this life-changing trip. Come join our community, and let's work together to create a better future for India's young minds.
			</p>
		</div>
	</section>

	{% include 'footer.html' %}
</body>

</html>