<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title>Career Development</title>
	<link href="/static/career/css/style.css" rel="stylesheet">

</head>

<body>
	{% include "header.html" %}

	<section class="career-container">
		<div class="header">Career <span>Development</span></div>

		<div class="career-contents">
			<p class="career-para para-head">The key points to be kept in mind while choosing a career - </p>

			<p class="career-para para-bullet-points">
				<span>&#8226;</span>&nbsp; Understanding your interests, strengths, values, and abilities is the first step in self-assessment. Consider what drives and inspires you the most at work.
			</p>
			<p class="career-para para-bullet-points">
				<span>&#8226;</span>&nbsp; Set definite, attainable career goals. Choose the profession or industry you want to enter, as well as the roles you want to hold.
			</p>
			<p class="career-para para-bullet-points">
				<span>&#8226;</span>&nbsp; Obtain the training, credentials, and abilities essential for the job route you have selected. To improve your skill set, think about signing up for appropriate courses, workshops, or training courses.
			</p>
			<p class="career-para para-bullet-points">
				<span>&#8226;</span>&nbsp;To get hands-on experience in the field you want to work in, look for internships, part-time jobs, or volunteer opportunities. Real-world experience is essential for determining your professional path.
			</p>
			<p class="career-para para-bullet-points">
				<span>&#8226;</span>&nbsp; OAs sectors and work marketplaces change, be willing to learn and adjust. Keep up with the newest developments in your industry's trends and technologies.
			</p>
			<p class="career-para para-bullet-points">
				<span>&#8226;</span>&nbsp; Developing a successful profession may require overcoming obstacles and disappointments. Keep working toward your objectives with persistence and attention, and don't be afraid to take measured risks.
			</p>
			<p class="career-para para-bullet-points">
				<span>&#8226;</span>&nbsp; Establish and maintain a professional network by establishing contacts within your chosen field. Participate in online forums, events, and lectures in your profession.
			</p>

			<p class="career-sub-header">How will we assist you in shaping your career?</p>

			<p class="career-para para-sub">
				In brief, the challenge lies in having knowledge of everything you need, including finding a mentor who has been in your shoes and can provide valuable guidance as you advance in your career.<br><span> By connecting with us, you can expand your alumni network and gain the support you need.</span>
			</p>
		</div>
	</section>

	{%include 'footer.html' %}
</body>

</html>