<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="../static/courses/css/style.css">

    <title>courses and programs</title>

  </head>
  <body>
	{% include "header.html" %}
    
	<section class="courses-container">
		<div class="header">Courses and <span>Programs</span></div>

		<div class="courses-cards-container">
			{% include 'homeEventCard.html' %}
			{% include 'homeEventCard.html' %}
			{% include 'homeEventCard.html' %}
		</div>
	</section>

	{% include 'footer.html' %}

    <script src="/static/courses/js/scripts.js"></script>
  </body>
</html>