<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/footer/style.css">
    <title>Document</title>
</head>

<body>
    <div class="footer">
        <div class="footer-box">
            <img class="footer-logo" src="../static//header/nav-logo.svg">
            <div class="footer-links-container">
                <div class="footer-page-links-wrapper">
                    <a href="/courses" class="footer-page-link">Courses</a>
                    <a href="/events" class="footer-page-link">Events</a>
                    <a href="/about_us" class="footer-page-link">About Us</a>
                </div>
                <div class="footer-social-links-wrapper">
                    <a><img class="instagram-logo" src="../static/footer/instagram-logo.svg"></a>
                    <a><img class="facebook-logo" src="../static/footer/facebook-logo.svg"></a>
                </div>
            </div>
        </div>
    </div>
</body>

</html>