<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../static/header/header.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
		integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
		crossorigin="anonymous" referrerpolicy="no-referrer" />
  <title>Header</title>
</head>

<body>
  <div class="overlay"></div>
  <!--  Parent Container-->
  <div class="navbar-container">
    <div class="navbar-box">
      <a class="nav-logo-wrapper" href="/">
        <img class="logo" src="../static/header/nav-logo.svg">
      </a>

      <!-- Hamburger Menu-->
      <div class="hamburger-container">
        <button class="ham-button">
          <i class="fa-solid fa-bars-staggered" style="color: #151515; font-size: 18px;"></i>
        </button>
        <!-- Ham Menu Wrapper-->
        <div class="ham-menu-wrapper">
          <button class="close-button">
            <i class="fa-solid fa-xmark" style="color: #151515; font-size: 18px;"></i>
          </button>
          <div class="ham-menu-links-wrapper">
            <a class="ham-menu-link" href="/character">Character Development</a>
            <a class="ham-menu-link" href="/mental_health">Mental Health</a>
            <a class="ham-menu-link" href="/career">Career</a>
            <a class="ham-menu-link" href="/courses">Courses</a>
            <a class="ham-menu-link" href="/about_us">About Us</a>
          </div>
          <div class="ham-menu-social-links-wrapper">
            <img class="instagram-logo" src="../static/footer/instagram-logo.svg">
            <img class="instagram-logo" src="../static/footer/facebook-logo.svg">
          </div>
        </div>
      </div>

      <!-- Navbar Links for Medium Screen and Desktop Devices-->
      <div class="navbar-links-container">
        <a class="navbar-link" href="/character">Character Development</a>
        <a class="navbar-link" href="/mental_health ">Mental Health</a>
        <a class="navbar-link" href="/career">Career</a>
        <a class="navbar-link" href="/courses">Courses</a>
        <a class="navbar-link" href="/about_us">About Us</a>
      </div>
    </div>
    <!-- Site Logo Wrapper-->

  </div>


  <script>
    const hamButton = document.querySelector('.ham-button');
    const hamMenu = document.querySelector('.ham-menu-wrapper');
    const body = document.querySelector('body');
    const overlay = document.querySelector('.overlay');
    const closeButton = document.querySelector('.close-button');

    hamButton.addEventListener("click", () => {
      hamMenu.style.transform = "translateX(0)";
      body.style.overflowY = "hidden";
      overlay.style.display = "block";
      body.style.pointerEvents = "none";
      hamMenu.style.pointerEvents = "auto";
    })

    closeButton.addEventListener("click", () => {
      hamMenu.style.transform = "translateX(100%)";
      body.style.overflowY = "scroll";
      overlay.style.display = "none";
      body.style.pointerEvents = "auto";
      hamMenu.style.pointerEvents = "none";
    })
  </script>
</body>

</html>