<!DOCTYPE html>
<html lang="en">
<head>
<title>IndiaYouthCare</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<link rel="stylesheet" href="/static/header/SimpleBlog.css" type="text/css" />
</head>
<body>
<div id="wrap">
  <div id="header">
    <h1 id="logo">India<span class="gray">YouthCare</span></h1>
    <h2 id="slogan">Put your site slogan here...</h2>
  </div>
  <div id="menu">
    <ul>
      <li id="current"><a href="/"><span>Home</span></a></li>
      <li><a href="/career"><span>Career Guidance</span></a></li>
      <li><a href="/character"><span>Character and Personality Development</span></a></li>
      <li><a href="/mental_health"><span>Mental Healh and Physical Fitness</span></a></li>
      <li><a href="/courses"><span>Courses and Programs</span></a></li>
      <li><a href="/about_us"><span>About Us</span></a></li>
    </ul>
  </div>
</body>
</html>
