<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/homeEventCard/style.css">
    <title>Document</title>
</head>

<body>
    <div class="home-event-card">
        <img class="event-poster" src="../static/homeEventCard/event-poster.png">

        <div class="home-event-card-contents">
            <p class="event-title">sunday special program</p>
            <p class="event-description">
                We Provide - Free Guidance , Doubt clearing , Tackling life challenges, Mental health and physical
                fitness, Character and personality development, Career Guidance .<br><br>

                An environment where comprehensive discussions on the mentioned topics ensure the provision of top-notch
                guidance

            </p>
        </div>
    </div>
</body>

</html>