<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>HomePage</title>
	<link rel="stylesheet" href="/static/homepage/css/style.css" type="text/css" />
</head>
<body>
	<header>here will go header </header>
	<div class="Main">
		<div class="left">
			<div class="header">
                <h1>India <br> Youth Care </h1>
				<p>Welcome to IndiaYouthCare, a platform devoted to empowering and elevating <br> India's young minds. We offer the youth support based on research and <br> science so that they can succeed in all facets of life</p>
				<div class="button">
					<button>Get Started</button>
					<button> know more</button>
				</div>
			</div>
		</div>
		<div class="right">
			<img src="../static/homepage/img/Group Hero SVG.jpg"/>
		</div>
	</div>
</body>
</html>